.sp-hero-section {
  @apply bg-black text-white min-h-screen min-w-full fixed;
  background-image: url('/hero-cover.webp');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  h1 {
    @apply text-9xl text-left max-w-5xl font-RobotInvaders z-[2] relative mix-blend-difference;
  }

  h2 {
    @apply text-xl font-spaceMono font-medium;
  }

  canvas {
    @apply scale-150;
    width: 100% !important;
    height: 200vh !important;
  }
}